.jumbotron {
  text-align:center;
  background-color:none;
}
.naman-profile-pic {
  border-radius: 50%;
}
carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:white;
  /*height: 100px;*/
}

.item2 {
  background-color:white;
  /*height: 100px;*/
}

.item3 {
  background-color:white;
  /*height: 100px;*/
}
